body {
  /*  */
  font-family: Helvetica, sans-serif;
}

main {
  margin: 20px;
}

h1,
h2 {
  font-size: 32px;
  line-height: 1.3;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  word-spacing: 2px;
  line-height: 1.3;
}

.text-yellow {
  color: rgb(255, 179, 0);
}

.resume {
  margin-top: 20px;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  border: solid;
  padding: 10px;
  border-radius: 22px;
}
